
.root {

    -fx-base: transparent;
    -fx-background-color: #292929;
    -fx-border-color: #292929;
    -fx-text-fill: #00c6ff;
}

.grid-pane {

    -fx-background-color: #292929;
    -fx-border-color: grey;
    -fx-border-width: 2;
}

.anchor-pane {

    -fx-border-color: #292929;
    -fx-border-width: 2;
}

/************************************************************************/
/*************************   Slider   ********************************/
/************************************************************************/

.slider .track {
    -fx-background-color:
          -fx-shadow-highlight-color,
          linear-gradient(to bottom, derive(-fx-text-box-border, -10%), -fx-text-box-border),
          linear-gradient(to bottom,
            derive(-fx-control-inner-background, -9%),
            derive(-fx-control-inner-background, 0%),
            derive(-fx-control-inner-background, -5%),
            derive(-fx-control-inner-background, -12%)
          );
    -fx-background-insets: 0 0 -1 0, 0, 1;
    -fx-background-radius: 0.25em, 0.25em, 0.166667em; /* 3 3 2 */
    -fx-padding: 0.25em; /* 3 */
}


/************************************************************************/
/*************************   StackPane   ********************************/
/************************************************************************/
.stack-pane {

    -fx-background-color: #292929;
    -fx-border-color: #292929;
    -fx-border-width: 2;
}


/************************************************************************/
/*************************   ScrollPane   *******************************/
/************************************************************************/
.scroll-pane {
    -fx-background-color: transparent;
    -fx-border-color: #292929;
}

.scroll-bar:horizontal, .scroll-bar:vertical{
    -fx-background-color:#292929;
}

.scroll-bar:horizontal .track,
.scroll-bar:vertical .track{
    -fx-background-color :transparent;
    -fx-border-color :transparent;
    -fx-background-radius : 0.0em;
    -fx-border-radius :2.0em;
}


.scroll-bar:horizontal .increment-button ,
.scroll-bar:horizontal .decrement-button {
    -fx-background-color :transparent;
    -fx-background-radius : 0.0em;
    -fx-padding : 0.0 0.0 10.0 0.0;
}

.scroll-bar:vertical .increment-button ,
.scroll-bar:vertical .decrement-button {
    -fx-background-color :transparent;
    -fx-background-radius : 0.0em;
    -fx-padding : 0.0 0.0 10.0 0.0;

}

 .scroll-bar .increment-arrow,
 .scroll-bar .decrement-arrow{
    -fx-shape : " ";
    -fx-padding :0.15em 0.0;
}

 .scroll-bar:vertical .increment-arrow,
 .scroll-bar:vertical .decrement-arrow{
    -fx-shape : " ";
    -fx-padding :0.0 0.15em;
}

.scroll-bar:horizontal .thumb,
.scroll-bar:vertical .thumb {
    -fx-background-color :derive(black,90.0%);
    -fx-background-insets : 2.0, 0.0, 0.0;
    -fx-background-radius : 2.0em;
}

.scroll-bar:horizontal .thumb:hover,
.scroll-bar:vertical .thumb:hover {
    -fx-background-color :derive(#ACACAC,10.0%);
    -fx-background-insets : 2.0, 0.0, 0.0;
    -fx-background-radius : 2.0em;
}


/************************************************************************/
/*************************   TableView   ********************************/
/************************************************************************/
.table-view {
     -fx-base: #292929;
     -fx-border-color: grey;
     -fx-border-width: 1;
     -fx-font-family: "Arial";
     -fx-font-size: 12px;
     -fx-background-color: #292929;
}



.table-view .column-header .label {
    -fx-font-size: 10pt;
    -fx-font-family: "Arial";
    -fx-font-weight: normal;
    -fx-text-fill: #00c6ff;
    -fx-alignment: center;
    -fx-opacity: 1;
}

.table-view .table-cell {
    -fx-font-family: "Arial";
    -fx-text-fill: white;
    -fx-alignment: center;
    -fx-opacity: 1;

    -fx-border-width: 1;
    -fx-border-color: black;
}

.table-row-cell:filled:focused:selected {
     -fx-background-color:
         linear-gradient( to left, derive(#056794, 35%) 10%, derive(#056794, 10%) 40%, derive(#056794, -8%) 60%, derive(#056794, -30%) 90%);
}

.table-row-cell {
    -fx-background-color: -fx-table-cell-border-color, #3a3a3a;
    -fx-background-insets: 0, 0 0 1 0;
    -fx-padding: 0.0em;
}

.table-row-cell:odd {
    -fx-background-color: -fx-table-cell-border-color, #2a2a2a;
    -fx-background-insets: 0, 0 0 1 0;
    -fx-padding: 0.0em;
}

/************************************************************************/
/****************************   Button   ********************************/
/************************************************************************/
.button {
    -fx-background-color: #292929;
    -fx-border-radius: 3;
    -fx-border-color: grey;
    -fx-padding: 2;
    -fx-text-fill: white;
    -fx-font-size: 15;
}

.button:focused {
    -fx-border-color: #00c6ff;
}

/************************************************************************/
/****************************   ToggleButton   ********************************/
/************************************************************************/
.toggle-button {
    -fx-background-color: #292929;
    -fx-border-radius: 3;
    -fx-border-color: grey;
    -fx-padding: 2;
    -fx-text-fill: white;
}

.toggle-button:selected {
   -fx-background-color:
            linear-gradient( to left, derive(#056794, 35%) 10%, derive(#056794, 10%) 40%, derive(#056794, -8%) 60%, derive(#056794, -30%) 90%);
}
/************************************************************************/
/*****************************   Label   ********************************/
/************************************************************************/
.label {
    -fx-text-fill: #00c6ff;
    -fx-font-family: "Arial";
    -fx-font-weight: normal;
    -fx-font-size: 12;

}

/************************************************************************/
/*************************   TextField   ********************************/
/************************************************************************/
.text-field {
    -fx-background-color: #343434;
    -fx-border-radius: 3;
    -fx-border-color: grey;
    -fx-text-fill: white;
    -fx-font-family: "Arial";
    -fx-font-weight: normal;
}

/************************************************************************/
/******************************   VBox   ********************************/
/************************************************************************/
.v-box {
    -fx-background-color: #292929;
}

/************************************************************************/
/******************************   HBox   ********************************/
/************************************************************************/
.h-box {
    -fx-background-color: #292929;
}

/************************************************************************/
/*************************   TitledPane   *******************************/
/************************************************************************/
.titled-pane {
    -fx-text-fill: white;
}

.titled-pane > .title {
    -fx-background-color: #292929;
    -fx-border-color: grey;
}

.titled-pane > .title > .arrow-button {
    -fx-background-color: #292929;
    -fx-background-insets: 0;
    -fx-background-radius: 0;
    -fx-padding: 0.0em 0.25em 0.0em 0.0em; /* 0 3 0 0 */
}

.titled-pane > .title > .arrow-button .arrow {
    -fx-background-color: white;

}

.titled-pane > *.content {
    -fx-background-color: #343434;
    -fx-border-color: #343434;
 }

/************************************************************************/
/**************************   Spinner   *********************************/
/************************************************************************/
.spinner .increment-arrow-button,
.spinner .decrement-arrow-button {
    -fx-body-color: #343434;
    -fx-padding: 3 6 3 6; /*caspian.css values are 4 8 4 8 */
    -fx-border-color: grey;
    -fx-border-width: 1;
    -fx-background-color: #343434;
    -fx-border-radius: 3;
}

.spinner .increment-arrow-button:hover,
.spinner .decrement-arrow-button:hover {
    -fx-body-color: ladder(#444, #343434 0%, #292929 100%);

}

.spinner .increment-arrow-button:hover:pressed,
.spinner .decrement-arrow-button:hover:pressed,
.spinner .increment-arrow-button:pressed,
.spinner .decrement-arrow-button:pressed {
    -fx-body-color: ladder(#AAA, #343434 0%, #292929 100%);
}

/************************************************************************/
/**************************   TabPane   *********************************/
/************************************************************************/
.tab-pane *.tab-header-area *.tab-header-background {
    -fx-background-color:transparent;
}

.tab-pane {
    -fx-tab-min-height:20px;
    -fx-tab-max-height:20px;

}

.tab {
    -fx-font-family: Arial;
    -fx-font-size: 12;
    -fx-background-color: #292929;
    -fx-border-color: grey;
    -fx-border-radius: 5;
}

.tab-label {
    -fx-text-fill: white;
}

.tab:selected {
    -fx-border-color: #00c6ff;
    -fx-border-radius: 3;

}

/************************************************************************/
/*************************   ComboBox   *********************************/
/************************************************************************/
.combo-box {
    -fx-background-color: #343434;
    -fx-border-width: 1;
    -fx-border-color: grey;
    -fx-border-radius: 5px;
    -fx-font-size: 12;
}

.combo-box: hover {
    -fx-background-color: #292929;
    -fx-text-fill: white;
}

.combo-box-base: hover {
   -fx-border-color: #00c6ff;
}

.combo-box .list-view {
    -fx-background-color: #343434;
    -fx-border-color: #00c6ff;
}

.combo-box .list-cell {
    -fx-background-color: #343434;
    -fx-text-fill: white;
}

/************************************************************************/
/*************************   SplitPane   ********************************/
/************************************************************************/
.split-pane {
    -fx-background-color: #292929;
    -fx-border-color: #292929;
    -fx-border-width: 2;
}
.split-pane-divider {
    -fx-background-color: grey;
    -fx-padding: 1;
    -fx-border-color: #505050;
}

/************************************************************************/
/*************************   CheckBox   *********************************/
/************************************************************************/
.check-box .box {

    -fx-background-color: #343434;
    -fx-background-insets: 1.5,1.5,1.5,1;
    -fx-border-color: grey;
    -fx-border-radius: 3px;
}

.check-box:selected .mark {

    -fx-background-color: white;
}

.check-box:selected .box {

    -fx-background-color: #00c6ff;
}

/************************************************************************/
/*************************   Separator   *********************************/
/************************************************************************/
.separator {

    -fx-border-color: transparent;
    -fx-background-color: #00c6ff;
}

/************************************************************************/
/*************************   ToolBar   *********************************/
/************************************************************************/
.tool-bar {

    -fx-background-color: #292929;
}

// подписи осей
.axis-label {
  -fx-fill:#00c6ff;
  -fx-axis-label-alignment: center;
  -fx-font-family: "Arial";
  -fx-font-weight: normal;
}

// оси (все пространство снизу и слева от графика)
.axis {
-fx-tick-label-font-size: 0.9em;
-fx-tick-label-fill: #dddddd;
}

.axis-tick-mark {
    -fx-stroke: white;
}
.axis-minor-tick-mark {
    -fx-stroke: white;
}


// всплывающяя подсказка с значениями курсора на графике
.chart-datapoint-tooltip-label {
  -fx-text-fill:black;
  -fx-background-color: rgb(153, 204, 204);
  -fx-border-color: white;
  -fx-border-radius: 3;
  -fx-font-size: 12;
  -fx-font-weight: bold;
  -fx-text-alignment: center;
}

// основноая панель с графиком
.chart-content {
-fx-background-color: #292929;
-fx-border-color: grey;
}